html {
    font-family: 'Noto Sans', 'sans-serif', 'Microsoft Jhenghei'; 
    width: 100%;
    height: 100%;
}
body { 
    color: #222;
    background: #f0f0f0;
}
.left-s, .right-s {
    padding: 8px;
}
.card {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    min-height: 500px;
    padding: 10px;
}
.contact-info, .about p {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 14px;
    margin: 10px;
}
.logo {
    width: 120px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.news {
    display: table;
    padding: 10px 0;
}
.right-card {
    padding: 10px 20px;
}
.right-card h4 {
  color: #707070;
}
.fa-tag {
    margin: 5px;
}
@media screen and (max-width: 768px) {                      
}
.ribbon-container {
    z-index: 100000;
    position: relative;
    display: inline-block;
    line-height: 1;
}
 
.ribbon {
    position: fixed;
    bottom: 1em;
    left: 0;
    margin-right: 1em;
    padding: .75em 1.25em .75em .75em;
    border-radius: 0 .5em .5em 0;
    background-color: #39f;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
    box-shadow: inset 0 .062em 0 rgba(255,255,255,.6), 0 .125em .25em rgba(0,0,0,.2);
    color: #fff;
    text-shadow: 0 -.062em 0 rgba(0,0,0,.2);
    white-space: nowrap;
    transition: background-color .2s ease-in-out;
}
 
.ribbon:before,
.ribbon:after {
    position: absolute;
    background-color: inherit;
    content: "";
}
 
.ribbon:before {
    bottom: 0;
    left: -.5em;
    width: .5em;
    height: 3em;
    border-radius: 0 0 0 .5em;
    background-image: linear-gradient(to right, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
}
 
.ribbon:after {
    top: -1em;
    left: -.5em;
    width: .5em;
    height: 1em;
    border-radius: .5em 0 0 .5em;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
    box-shadow: 0 .062em 0 rgba(255,255,255,.6);
}
 
.ribbon-container:hover .ribbon {
    background-color: #7acc29;
}
